/* HomePage.css */
.home-page {
  background: linear-gradient(135deg, #1e3c72, #2a5298); /* Fondo gamificado */
}

.game-card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.game-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}